<div class="row">
  <div class="col-12" style="margin: 10px;text-align: center;">
    <button (click)="getData()" class="btn btn-primary" style="margin-right: 10px;">getData</button>
    <button (click)="setData()" class="btn btn-primary" style="margin-right: 10px;">setData</button>
    <button (click)="navegations()" class="btn btn-primary">navegation</button>
    <br>
    <div class="col-12">the idea is that when pressing the browse button, the scorm course changes view and simulates
      starting the course by resuming a session of 1 student</div>
  </div>
  <div class="col-12" style="height: 90vh;">
    <ng-scorm-player [urlDirSco]="courseUrl"></ng-scorm-player>
  </div>
</div>